azure-identity
azure-ai-projects
python-dotenv
opentelemetry-api
opentelemetry-sdk
azure-mgmt-monitor
azure-monitor-opentelemetry
chainlit
pydantic
openai-agents
openai
openinference-instrumentation-openai
openinference-instrumentation-openai-agents
